.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  padding: 0 20px;
  background-color: var(--White);
}
.title {
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;
}
