.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  padding: 0 20px;
  color: var(--colorText);
  background-color: var(--colorBackgroundItem);
  box-shadow: 0 2px 9px 0 var(--colorShadow);
}
.title {
  font-weight: 800;
  font-size: 1em;
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .containerHeader {
    padding: 0 10em;
  }
  .title {
    font-size: 1.5em;
  }
}
