.cardCountry {
  width: 230px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 300px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s border;
  color: var(--colorText);
  background-color: var(--colorBackgroundItem);
  box-shadow: 0 0 7px 2px var(--colorShadow);
}
.cardCountry:hover {
  border: 1px solid var(--colorItems);
}
.flag {
  width: 100%;
}
.infoCountry {
  padding: 0 0 40px 24px;
}
.infoCountry p {
  margin-bottom: 3px;
}

.countryName {
  font-size: 1.3em;
  margin: 20px 0;
  font-weight: bold;
}
