.filter {
  border: none;
  padding: 1em 1.5em;
  border-radius: 5px;
  box-shadow: 0 2px 9px 0 var(--colorShadow);
  max-width: 30vw;
  color: var(--colorText);
  background-color: var(--colorBackgroundItem);
}
.filter:focus {
  outline: none;
}
