* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wrapMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
  padding: 0 4em;
  background-color: var(--VeryLightGray);
}

/* ocultar scroll -y */
::-webkit-scrollbar {
  display: none;
}
:root {
  /*  ## Colors

### Neutral */
  /* (DarkModeElements) */
  --DarkBlue: hsl(209, 23%, 22%);

  /* (DarkModeBackground) */
  --VeryDarkBlue: hsl(207, 26%, 17%);

  /* (LightModeText) */
  --VeryDarkBlue: hsl(200, 15%, 8%);

  /* (LightModeInput) */
  --DarkGray: hsl(0, 0%, 52%);

  /* (LightModeBackground) */
  --VeryLightGray: hsl(0, 0%, 98%);

  /* (DarkModeText&LightModeElements) */
  --White: hsl(0, 0%, 100%);
}
